.open-sans { font-family: 'Open Sans', sans-serif; }
.georgia {
  font-family: Georgia;
  font-style: italic;
}
#shopp .submit { text-align: right; }
#shopp form { text-align: left; }
#shopp form.product ul.options { list-style: none; }
#shopp form ul { line-height: 1; }
#shopp form label {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
}
#shopp form ul li span label {
  font-size: 11px;
  font-weight: normal;
  padding-bottom: 8px;
}
#shopp form div label {
  font-size: 11px;
  font-weight: normal;
  padding-bottom: 8px;
}
h1.shopp, h2.shopp { display: none; }
.categories ul li a.current { font-weight: bold; }
#shopp .category { position: relative; }
#shopp .category .gallery-box {
  margin: 0 1px 1px 0;
  width: 239px;
}
#shopp .category .gallery-box h2 { text-align: center; }
#shopp .category .gallery-box .inner .gallery-icons { padding-left: 40px; }
#shopp .shopp-gallery-images {
  height: 350px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
}
#shopp .gallery-functions {
  width: 595px;
  float: left;
}
#shopp .gallery-functions h3 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
#shopp .gallery-functions .price {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #656565;
  padding-left: 20px;
}
#shopp form.product {
  float: right;
  width: 365px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
#shopp form.product select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  margin: 0;
  width: 30px;
  text-align: center;
}
#shopp form.product input[type="submit"] {
  background-color: #1a1a1a;
  color: #ededed;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 20px;
}
#shopp iframe {
  position: relative;
  top: 3px;
}
#shopp .product-info {
  clear: both;
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  width: 500px;
}
#shopp .views {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}
#shopp .views button {
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  padding: 2px;
  margin-bottom: -3px;
}
#shopp .views button.hover {
  background-color: #ebebeb;
  border: 1px solid #777777;
}
#shopp .views li { display: inline; }
#shopp .orderby { float: right; }
#shopp .category .subcategories {
  padding: 10px 0;
  margin-bottom: 10px;
}
#shopp .category .subcategories ul {
  padding: 10px 0 0 20px;
  margin-bottom: 10px;
}
#shopp .category .subcategories li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
#shopp .slideshow {
  margin: 20px 0;
  overflow: hidden;
}
#shopp .carousel {
  margin: 20px 0;
  overflow: hidden;
}
#shopp ul.products li.product div.frame { padding: 10px; }
#shopp ul.products li .name {
  margin-top: 0;
  margin-bottom: 0;
}
#shopp ul.products li .summary {
  margin-top: 0;
  margin-bottom: 0;
}
#shopp ul.products li .savings {
  margin-top: 0;
  margin-bottom: 0;
}
#shopp ul.products li .price {
  margin-top: 0;
  margin-bottom: 0;
}
#shopp ul.products li .details { float: none; }
#shopp ul.products li .summary { display: none; }
#shopp ul.products li .listview { display: none; }
#shopp ul.products img { display: block; }
#shopp .price {
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}
#shopp .original { text-decoration: line-through; }
#shopp .sale { font-size: 150%; }
.filters a.cancel:before { content: "["; }
.filters a.cancel { font-weight: bold; }
.filters a.cancel:after { content: "]"; }
.filters a.cancel:hover { text-decoration: none; }
#shopp.list ul.products li {
  float: none;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}
#shopp.list ul.products li.product { border-bottom: 1px solid #dddddd; }
#shopp.list ul.products li div.frame {
  width: 100%;
  text-align: left;
}
#shopp.list ul.products li img {
  float: left;
  margin-right: 10px;
}
#shopp.list ul.products li .details {
  float: left;
  width: 65%;
}
#shopp.list ul.products li .listview { display: block; }
#shopp ul.breadcrumb { margin: 10px 0; }
#shopp ul.breadcrumb li {
  background: none;
  padding: 0;
  display: inline;
  margin-left: 0;
  text-indent: 0;
}
#shopp ul.categories {
  float: left;
  margin-right: 20px;
}
#shopp .column { float: left; }
#shopp .column.first { width: 65%; }
#shopp .column.second {
  float: right;
  width: 35%;
}
#shopp .original { text-decoration: line-through; }
#shopp form.product ul { clear: none; }
#shopp form.product ul li { clear: none; }
#shopp form.product ul li label { clear: none; }
#shopp form.product ul { width: auto; }
#shopp ul.variations label { display: block; }
#shopp dl { overflow: hidden; }
#shopp dt {
  clear: left;
  float: left;
  text-align: right;
  width: 50%;
  margin-right: 1em;
}
#shopp dd {
  clear: right;
  width: 50%;
  padding-left: 50%;
}
#shopp .gallery .previews {
  float: right;
  width: 815px;
}
#shopp .gallery .thumbnails {
  float: left;
  width: 85px !important;
  margin: 0 20px 0 0;
}
#shopp .gallery .thumbnails li {
  display: block;
  margin: 0 0 1px 0;
}
#shopp .gallery ul.previews li.thumbnails ul { margin: 10px 0 10px 0; }
#shopp .gallery ul.previews li.thumbnails li { margin: 0 5px 0 0; }
.sideproduct { margin-top: 20px; }
.sideproduct h3 { margin-top: 0; }
#shopp #cart { width: 100%; }
#shopp #cart table {
  padding: 10px 0;
  width: 100%;
}
#shopp #cart th {
  text-align: left;
  font-weight: bold;
}
#shopp #cart th { padding: 3px; }
#shopp #cart td { padding: 3px; }
#shopp #cart .item { width: 50%; }
#shopp #cart .money {
  text-align: right;
  white-space: nowrap;
}
#shopp #cart .totals th {
  text-align: right;
  white-space: nowrap;
}
#shopp #cart .buttons td {
  text-align: right;
  white-space: nowrap;
}
#shopp #cart .totals.total th { font-size: 130%; }
#shopp #cart .totals.total td { font-size: 130%; }
#shopp #cart .remove { font-size: 9px; }
#shopp #cart address { font-style: normal; }
#shopp #cart big {
  display: block;
  margin: 10px 0;
}
#shopp #cart big a.right { float: right; }
#shopp-cart.widget p.status { margin-bottom: 10px; }
#shopp ul.account li {
  display: inline-block;
  width: 200px;
  padding-top: 18px;
}
#shopp #shipping-methods { padding-left: 30px; }
#shopp #shipping-methods li { margin-top: 5px; }
#shopp #shipping-methods input { margin-left: -16px; }
#shopp .shopp-errors { color: #990000; }
#shopp input.error { background: #ffdddd; }
#shopp label.error {
  color: #990000;
  font-weight: bold;
}
.clickwrap-terms {
  overflow: auto;
  height: 200px;
  border: 1px solid #333333;
  padding: 0.5em;
  margin-bottom: 1em;
}
#shopp #receipt {
  position: relative;
  margin: 20px 0;
}
#shopp #receipt address { font-style: normal; }
#shopp #receipt fieldset {
  padding: 10px;
  border: 1px solid #dadada;
  margin: 20px 0 30px;
}
#shopp #receipt fieldset legend { display: block; }
#shopp #receipt table { overflow: hidden; }
#shopp #receipt table.transaction th { text-align: left; }
#shopp #receipt .labels { width: 100%; }
#shopp #receipt table.labels td { vertical-align: top; }
#shopp #receipt .order {
  width: 100%;
  overflow: hidden;
  border: none;
}
#shopp #receipt td { border: none; }
#shopp #receipt th {
  font-weight: bold;
  text-align: left;
  border: none;
}
#shopp #receipt th { padding: 3px 0; }
#shopp #receipt td { padding: 3px 0; }
#shopp #receipt .order .item { width: 50%; }
#shopp #receipt .order td.qty { text-align: center; }
#shopp #receipt .order .money { text-align: right; }
#shopp #receipt .order .total { text-align: right; }
#shopp #receipt .order .buttons td { text-align: right; }
#shopp #receipt .order .totals.total th { font-size: 130%; }
#shopp #receipt .order .totals.total td { font-size: 130%; }
