.open-sans { font-family: 'Open Sans', sans-serif; }
.georgia { font-family: Georgia; }
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { overflow-y: scroll; }
html, body { height: 100%; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
#wrapper { min-height: 100%; }
body { background-color: #ededed; }
#wrapper {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  float: left;
  margin-top: 37px;
}
#top-bar-wrapper {
  width: 100%;
  height: 37px;
  background-color: #1a1a1a;
  position: fixed;
  z-index: 9999;
}
#top-bar-wrapper #top-bar {
  width: 960px;
  height: 7px;
  line-height: 7px;
  margin: 0 auto;
  padding: 15px 0px;
}
#top-bar-wrapper #top-bar a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #ededed;
}
header {
  width: 960px;
  height: 225px;
  padding-top: 30px;
  padding: 30px 0 0 50px;
}
header h1#site-title { margin: 0; }
header h2#site-description {
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  margin: 0;
  padding-left: 130px;
  color: #656565;
}
nav {
  background: #dddddd;
  margin: 0 auto;
  width: 100px;
}
nav .menu-header {
  font-size: 20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav .menu-header li {
  float: left;
  position: relative;
  padding: 2px 0;
}
nav div.menu {
  font-size: 20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav div.menu li {
  float: left;
  position: relative;
  padding: 2px 0;
}
nav a {
  color: #999999;
  text-transform: uppercase;
  display: block;
  line-height: 20px;
  padding: 0 2px;
  text-decoration: none;
}
nav li:hover > a { color: #1a1a1a; }
nav ul ul:hover > a { color: #1a1a1a; }
nav ul li:hover > ul { display: block; }
nav ul li.current_page_item > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-ancestor > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-item > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-parent > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
* html nav ul li.current_page_item a { color: #000000; }
* html nav ul li.current-menu-ancestor a { color: #000000; }
* html nav ul li.current-menu-item a { color: #000000; }
* html nav ul li.current-menu-parent a { color: #000000; }
* html nav ul li a:hover { color: #000000; }
#sidebar {
  float: left;
  width: 100px;
  margin: 370px 20px 0 0;
}
#page { margin: 75px 0; }
footer, .footer-push { height: 235px; }
footer {
  width: 950px;
  margin: 0 auto;
  clear: both;
}
footer #site-info { text-align: right; }
body.home #wrapper {
  background: url('../images/home-bg.png') no-repeat scroll 140px 451px;
  height: 722px;
}
.small-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.small-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.small-box p {
  font-family: Georgia;
  font-style: italic;
}
.large-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.large-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.large-box p {
  font-family: Georgia;
  font-style: italic;
}
.small-box {
  width: 240px;
  height: 240px;
}
.large-box {
  width: 480px;
  height: 480px;
}
.photo-box {
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.photo-box .image {
  width: 240px;
  height: 240px;
  display: table;
  position: relative;
  z-index: 1;
}
.photo-box .content {
  background-color: rgba(0, 0, 0, 0.6);
  background: #000000;
  background-image: -webkit-gradient(radial, center center, 250px, center center, contain, from(#000000), to(#222222));
  background-image: -webkit-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -moz-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -ms-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -o-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  position: absolute;
  top: 0;
  z-index: 999;
  filter: alpha(opacity = 0);
  opacity: 0;
  display: table;
  width: 240px;
  height: 240px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.photo-box .content .inner {
  display: table-cell;
  vertical-align: middle;
}
.photo-box .content .inner h2 { color: #ededed; }
.photo-box:hover .content {
  opacity: 0.6;
  filter: alpha(opacity = 60);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box {
  background-color: #ececec;
  opacity: 0.8;
  display: table;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box:hover {
  background-color: #dddddd;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 35px;
}
.menu-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.menu-box h3.event-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #656565;
}
.menu-box p {
  font-family: Georgia;
  font-style: italic;
}
.col-240 a {
  display: block;
  color: #1a1a1a;
}
.col-480 a {
  display: block;
  color: #1a1a1a;
}
.col-240 {
  width: 240px;
  float: left;
}
.col-480 {
  width: 480px;
  float: left;
}
.float-left { float: left; }
.wp-paginate {
  padding: 0;
  margin: 0;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: #dddddd;
  border: 1px solid #cccccc;
  color: #666666;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}
.wp-paginate a:hover {
  background: #cccccc;
  color: #888888;
}
.wp-paginate a:active {
  background: #cccccc;
  color: #888888;
}
.wp-paginate .title {
  color: #555555;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #999999;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #ededed;
  background: #5f87ae;
  border: 1px solid #89adcf;
  margin-right: 4px;
  padding: 3px 6px;
}
img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  height: auto;
}
.attachment img {
  max-width: 100%;
  height: auto;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important;
  padding: 4px;
  text-align: center;
}
.wp-caption img { margin: 5px 5px 0; }
.wp-caption p.wp-caption-text {
  color: #888888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley { margin: 0; }
