.open-sans { font-family: 'Open Sans', sans-serif; }
.georgia {
  font-family: Georgia;
  font-style: italic;
}
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { overflow-y: scroll; }
html, body { height: 100%; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
#wrapper { min-height: 100%; }
body {
  background-color: #ededed;
  color: #1a1a1a;
}
h1.entry-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
}
blockquote {
  margin: 0;
  color: #1a1a1a;
  font-size: 16px;
  font-family: Georgia;
  width: 580px;
}
#wrapper {
  width: 1200px;
  min-height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  width: 960px;
  float: left;
  margin-top: 37px;
}
#content {
  width: 855px;
  margin-left: 75px;
}
.entry-content-bg {
  background-color: #ffffff;
  color: #656565;
  font-size: 14px;
}
.entry-content-bg .page-images {
  height: 142px;
  padding-left: 1px;
}
.entry-content-bg .page-images img.alignleft { margin: 0; }
.entry-content-bg .page-content { padding: 45px 45px 20px 45px; }
#top-bar-wrapper {
  width: 100%;
  background-color: #1a1a1a;
  position: fixed;
  z-index: 9999;
  padding: 10px 0;
}
#top-bar-wrapper #top-bar {
  width: 960px;
  line-height: 14px;
  margin: 0 auto;
}
#top-bar-wrapper #top-bar img {
  position: relative;
  top: 2px;
  padding-right: 10px;
}
#top-bar-wrapper #top-bar .colborder {
  -webkit-border-image: url("../images/top-bar-divider.png");
  -moz-border-image: url("../images/top-bar-divider.png");
  -o-border-image: url("../images/top-bar-divider.png");
  -ms-border-image: url("../images/top-bar-divider.png");
  border-image: url("../images/top-bar-divider.png");
}
#top-bar-wrapper #top-bar .social-media a { float: right; }
#top-bar-wrapper #top-bar .social-media a img { padding: 0 0 0 19px; }
#top-bar-wrapper #top-bar .social-media a:after { content: ""; }
#top-bar-wrapper #top-bar .rss-feeds a { padding-right: 15px; }
#top-bar-wrapper #top-bar a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  color: #ededed;
}
#top-bar-wrapper #top-bar a:after {
  position: relative;
  top: 1px;
  left: 10px;
  content: url(../images/arrow.png);
}
#top-bar-wrapper #top-bar a:hover { text-decoration: underline; }
header {
  width: 960px;
  height: 225px;
  padding-top: 30px;
  padding: 30px 0 0 50px;
}
header h1#site-title { margin: 0; }
header h2#site-description {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
  font-size: 14px;
  margin: 0;
  padding-left: 130px;
  color: #656565;
}
nav {
  background: #dddddd;
  margin: 0 auto;
  width: 100px;
}
nav .menu-header {
  font-size: 20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav .menu-header li {
  float: left;
  position: relative;
  padding: 2px 0;
}
nav div.menu {
  font-size: 20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav div.menu li {
  float: left;
  position: relative;
  padding: 2px 0;
}
nav a {
  color: #999999;
  text-transform: uppercase;
  display: block;
  line-height: 20px;
  padding: 0 2px;
  text-decoration: none;
}
nav li:hover > a { color: #1a1a1a; }
nav ul ul:hover > a { color: #1a1a1a; }
nav ul li:hover > ul { display: block; }
nav ul li.current_page_item > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-ancestor > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-item > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-parent > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
* html nav ul li.current_page_item a { color: #000000; }
* html nav ul li.current-menu-ancestor a { color: #000000; }
* html nav ul li.current-menu-item a { color: #000000; }
* html nav ul li.current-menu-parent a { color: #000000; }
* html nav ul li a:hover { color: #000000; }
#sidebar {
  float: left;
  width: 100px;
  margin: 370px 20px 0 0;
}
#page { margin: 75px 0; }
.filter-by {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  width: 900px;
  margin-top: -18px;
}
.filter-by ul {
  float: right;
  margin: 0;
  padding: 0 0 0 6px;
}
.filter-by li {
  display: block;
  float: left;
}
.filter-by li a {
  padding: 2px 5px;
  color: #656565;
  text-decoration: none;
}
.filter-by li.current_page_item {
  color: #ffffff;
  background-color: #1a1a1a;
}
.filter-by li.current_page_item a { color: #ffffff; }
#payment-buttons {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
}
a.button {
  color: #ffffff;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 0 3px;
}
a.button:hover { background-color: #656565; }
footer {
  width: 960px;
  margin: 0 auto;
  clear: both;
}
footer h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
footer h3 a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #656565;
  text-decoration: none;
  font-weight: normal;
}
footer h3 a:hover {
  background: none;
  color: #656565;
}
footer p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
footer p a {
  display: inline-block;
  margin-top: 1.5em;
}
footer a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  color: #1a1a1a;
  padding: 1px;
}
footer a:hover {
  background-color: #1a1a1a;
  color: #ededed;
  text-decoration: none;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
}
footer ul li { list-style: none; }
footer ul li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #656565;
  text-decoration: none;
  font-weight: normal;
}
footer ul li a:before { content: "+ "; }
footer ul li a:hover {
  color: #ededed;
  background-color: #656565;
}
footer ul li:last-child a {
  display: inline-block;
  margin-top: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  color: #1a1a1a;
  padding: 1px;
  text-decoration: underline;
}
footer ul li:last-child a:hover {
  background-color: #1a1a1a;
  color: #ededed;
  text-decoration: none;
}
footer ul li:last-child a:before { content: ""; }
footer #site-info {
  padding: 65px 0 20px 0;
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
  text-align: right;
  clear: both;
}
footer #site-info a {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
}
footer #site-info a:hover {
  background: none;
  color: #656565;
}
body.home #wrapper {
  background: url('../images/home-bg.png') no-repeat scroll 140px 451px;
  height: 1400px;
}
.small-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.small-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.small-box p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
.large-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.large-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.large-box p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
.small-box {
  width: 240px;
  height: 240px;
}
.large-box {
  width: 480px;
  height: 480px;
}
.large-box .content { padding: 0 170px !important; }
.photo-box {
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.photo-box .image {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  z-index: 1;
}
.photo-box .content {
  background-color: rgba(0, 0, 0, 0.6);
  background: #000000;
  background-image: -webkit-gradient(radial, center center, 250px, center center, contain, from(#000000), to(#222222));
  background-image: -webkit-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -moz-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -ms-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -o-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  position: absolute;
  top: 0;
  z-index: 100;
  filter: alpha(opacity = 0);
  opacity: 0;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.photo-box .content .inner {
  display: table-cell;
  vertical-align: middle;
}
.photo-box .content .inner h2 { color: #ededed; }
.photo-box:hover .content {
  opacity: 0.6;
  filter: alpha(opacity = 60);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box {
  background: url(../images/box-arrow.png) no-repeat bottom right #ececec;
  opacity: 0.8;
  display: table;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box:hover {
  background-color: #dddddd;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 35px;
}
.menu-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.menu-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #656565;
}
.menu-box p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
.video-box { position: relative; }
.video-box .video-box-bg {
  width: 240px;
  height: 240px;
  position: relative;
  top: -245px;
}
.video-box .video-box-bg:hover { background: url(../images/video-box-bg.png) no-repeat; }
.video-box .play-button {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 93px;
  left: 93px;
}
.about-box .inner { padding-top: 140px; }
.friends-box {
  margin: 0 1px 1px 0;
  width: 239px;
}
.friends-box .inner { padding-top: 115px; }
#ob_content {
  background-color: #f6f6f6 !important;
  border: 0 solid #f6f6f6 !important;
  border-width: 20px !important;
}
#ob_close {
  background: url(../images/close-button.jpg) !important;
  height: 56px !important;
  width: 56px !important;
  top: -14px !important;
  left: -14px !important;
}
.col-240 a {
  display: block;
  color: #1a1a1a;
  text-decoration: none;
}
.col-480 a {
  display: block;
  color: #1a1a1a;
  text-decoration: none;
}
.col-240 {
  width: 240px;
  float: left;
}
.col-480 {
  width: 480px;
  float: left;
}
.float-left { float: left; }
.wp-paginate {
  padding: 0;
  margin: 0;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: #dddddd;
  border: 1px solid #cccccc;
  color: #666666;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}
.wp-paginate a:hover {
  background: #cccccc;
  color: #888888;
}
.wp-paginate a:active {
  background: #cccccc;
  color: #888888;
}
.wp-paginate .title {
  color: #555555;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #999999;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #ededed;
  background: #5f87ae;
  border: 1px solid #89adcf;
  margin-right: 4px;
  padding: 3px 6px;
}
img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  height: auto;
}
.attachment img {
  max-width: 100%;
  height: auto;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important;
  padding: 4px;
  text-align: center;
}
.wp-caption img { margin: 5px 5px 0; }
.wp-caption p.wp-caption-text {
  color: #888888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley { margin: 0; }
img.cc-logos {
  position: relative;
  top: 5px;
  margin-right: 5px;
}
img.paypal-logo {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
form.wpcf7-form { margin: 40px 0 40px 75px; }
form.wpcf7-form p {
  height: 30px;
  margin-bottom: 20px;
}
form.wpcf7-form label {
  display: block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 30px;
  width: 80px;
}
form.wpcf7-form input[type=text] {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form.wpcf7-form textarea {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form.wpcf7-form select {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form.wpcf7-form input[type=text] {
  width: 235px;
  height: 30px;
  padding: 0 5px;
}
form.wpcf7-form select {
  width: 247px;
  height: 30px;
}
form.wpcf7-form textarea {
  width: 235px;
  height: 160px;
}
form.wpcf7-form input[type=submit] {
  margin: 15px 0 0 80px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background-color: #1a1a1a;
  text-transform: uppercase;
}
form.wpcf7-form br { display: none; }
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok {
  border: none !important;
  position: relative;
  top: 8px;
  left: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
div.wpcf7-validation-errors { color: black; }
div.wpcf7-mail-sent-ng { color: red; }
div.wpcf7 img.ajax-loader { margin-top: -5px; }
span.wpcf7-not-valid-tip {
  border: none !important;
  margin-left: 10px;
  background: none !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #1a1a1a;
}
article#friends { margin-bottom: 120px; }
