.open-sans { font-family: 'Open Sans', sans-serif; }
.georgia {
  font-family: Georgia;
  font-style: italic;
}
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { overflow-y: scroll; }
html, body { height: 100%; }
.screen-reader-text {
  position: absolute;
  left: -9000px;
}
#wrapper { min-height: 100%; }
body {
  background-color: #ededed;
  color: #1a1a1a;
  font-size: 12px;
}
h1.entry-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
h1.entry-title a {
  color: #1a1a1a;
  text-decoration: none;
}
h1.page-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
h1.page-title a {
  color: #1a1a1a;
  text-decoration: none;
}
h2.entry-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
h2.entry-title a {
  color: #1a1a1a;
  text-decoration: none;
}
h2#site-description {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
  text-transform: none;
  font-size: 14px;
  margin: 0;
  padding: 3px 0 0 130px;
  color: #656565;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5, h6 {
  font-size: 12px;
  font-weight: 600;
}
blockquote {
  margin: 0;
  color: #1a1a1a;
  font-size: 16px;
  font-family: Georgia;
  width: 580px;
}
a { color: #656565; }
a:link { color: #656565; }
a:visited { color: #999999; }
a:hover { text-decoration: none; }
a:active { text-decoration: underline; }
#wrapper {
  width: 1200px;
  min-height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  width: 960px;
  float: left;
  margin-top: 37px;
}
#content {
  width: 855px;
  margin-left: 75px;
}
.entry-content-bg {
  background-color: #ffffff;
  color: #656565;
  font-size: 14px;
}
.entry-content-bg .page-images {
  height: 142px;
  padding-left: 1px;
}
.entry-content-bg .page-images img.alignleft { margin: 0; }
.entry-content-bg .page-content { padding: 45px 45px 20px 45px; }
#top-bar-wrapper {
  width: 100%;
  background-color: #1a1a1a;
  position: fixed;
  z-index: 9999;
  padding: 10px 0;
}
#top-bar-wrapper #top-bar {
  width: 960px;
  line-height: 14px;
  margin: 0 auto;
}
#top-bar-wrapper #top-bar img {
  position: relative;
  top: 2px;
  padding-right: 10px;
}
#top-bar-wrapper #top-bar .social-media a { float: right; }
#top-bar-wrapper #top-bar .social-media a img { padding: 0 0 0 19px; }
#top-bar-wrapper #top-bar .social-media a:after { content: ""; }
#top-bar-wrapper #top-bar .rss-feeds a { padding-right: 15px; }
#top-bar-wrapper #top-bar a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  color: #ededed;
}
#top-bar-wrapper #top-bar a:after {
  position: relative;
  top: 1px;
  left: 10px;
  content: url(../images/arrow.png);
}
#top-bar-wrapper #top-bar a:hover { text-decoration: underline; }
header {
  width: 960px;
  height: 225px;
  padding-top: 30px;
  padding: 30px 0 0 50px;
}
header h1#site-title { margin: 0; }
#nav-menu {
  float: left;
  width: 100px;
  margin: 370px 20px 0 0;
}
nav {
  background: #dddddd;
  margin: 0 auto;
  width: 100px;
}
nav .menu-header {
  font-size: 20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
nav .menu-header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav .menu-header li {
  float: left;
  position: relative;
  padding: 2px 0;
}
nav div.menu {
  font-size: 20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
nav div.menu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav div.menu li {
  float: left;
  position: relative;
  padding: 2px 0;
}
nav a {
  color: #999999;
  text-transform: uppercase;
  display: block;
  line-height: 20px;
  padding: 0 2px;
  text-decoration: none;
}
nav a:visited { color: #656565; }
nav li:hover > a { color: #1a1a1a; }
nav ul ul:hover > a { color: #1a1a1a; }
nav ul li:hover > ul { display: block; }
nav li:active > a { text-decoration: none; }
nav ul ul:active > a { text-decoration: none; }
nav ul li.current_page_item > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-ancestor > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-item > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
nav ul li.current-menu-parent > a {
  color: #ededed;
  background: #1a1a1a;
  font-weight: 600;
}
* html nav ul li.current_page_item a { color: #000000; }
* html nav ul li.current-menu-ancestor a { color: #000000; }
* html nav ul li.current-menu-item a { color: #000000; }
* html nav ul li.current-menu-parent a { color: #000000; }
* html nav ul li a:hover { color: #000000; }
#sidebar { margin: 81px 0; }
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li.widget-container { margin-bottom: 30px; }
#sidebar ul li a { text-decoration: none; }
#sidebar ul li a:hover { text-decoration: underline; }
#sidebar h3 {
  font-family: Georgia;
  font-style: italic;
  font-size: 18px;
  text-transform: none;
}
#page { margin: 78px 0; }
.filter-by {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  width: 960px;
  margin-top: -18px;
}
.filter-by ul {
  float: right;
  margin: 0;
  padding: 0 0 0 6px;
}
.filter-by li {
  display: block;
  float: left;
}
.filter-by li a {
  padding: 2px 5px;
  color: #656565;
  text-decoration: none;
}
.filter-by li.current_page_item {
  color: #ffffff;
  background-color: #1a1a1a;
}
.filter-by li.current_page_item a { color: #ffffff; }
.filter-by li.current-menu-item {
  color: #ffffff;
  background-color: #1a1a1a;
}
.filter-by li.current-menu-item a { color: #ffffff; }
.blog-filter {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  width: 960px;
  margin-top: -18px;
}
.blog-filter ul {
  float: right;
  margin: 0;
  padding: 0 0 0 6px;
}
.blog-filter li {
  display: block;
  float: left;
}
.blog-filter li a {
  padding: 2px 5px;
  color: #656565;
  text-decoration: none;
}
.blog-filter li.current_page_item {
  color: #ffffff;
  background-color: #1a1a1a;
}
.blog-filter li.current_page_item a { color: #ffffff; }
.blog-filter li.current-menu-item {
  color: #ffffff;
  background-color: #1a1a1a;
}
.blog-filter li.current-menu-item a { color: #ffffff; }
.blog-filter {
  margin: 30px 0 -48px 0;
  width: 875px;
}
.blog-filter a {
  text-decoration: none;
  padding-left: 5px;
  color: #656565;
  padding: 0 5px;
}
.blog-filter a.all {
  color: #ffffff;
  background-color: #1a1a1a;
}
#payment-buttons {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
}
a.button {
  color: #ffffff;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 0 3px;
}
a.button:hover { background-color: #656565; }
h2.entry-title { margin-bottom: 10px; }
.post { margin-bottom: 25px; }
.excerpt {
  margin: 20px 0;
  width: 370px;
  font-family: Georgia;
  font-style: italic;
}
.post-img { margin-top: 6px; }
.post-details {
  background-color: #ffffff;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  color: #656565;
  font-size: 18px;
  padding: 0 5px;
  margin-bottom: -10px;
}
.post-details a { text-decoration: none; }
.post-details a:hover { text-decoration: underline; }
.post-details .date {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.post-details .author a {
  font-family: Georgia;
  font-style: italic;
  padding: 0 15px;
}
.post-details .comment-count {
  font-size: 12px;
  color: #1a1a1a;
  text-transform: lowercase;
  position: relative;
  top: -2px;
}
#single-blog-post {
  margin-left: 75px;
  color: #656565;
}
#single-blog-post .entry-content { font-size: 14px; }
#single-blog-post #disqus_thread {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
#single-blog-post #disqus_thread a {
  color: #1a1a1a;
  font-weight: 600;
}
#single-blog-post #disqus_thread a.dsq-subscribe-email em { font-weight: 600; }
#single-blog-post #disqus_thread a.dsq-subscribe-rss em { font-weight: 600; }
#single-blog-post #disqus_thread p { text-transform: none; }
#single-blog-post #disqus_thread h3 {
  font-size: 12px;
  font-weight: 600;
}
#single-blog-post .entry-content {
  background-color: #ffffff;
  padding: 40px 65px;
}
#single-blog-post #disqus_thread {
  background-color: #ffffff;
  padding: 40px 65px;
}
#single-blog-post #single-post-img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 47px;
}
#single-blog-post .single-post-details {
  float: left;
  width: 508px;
  margin-bottom: 15px;
}
#single-blog-post .entry-utility { margin-top: 15px; }
#single-blog-post h1.entry-title { margin-bottom: 5px; }
#single-blog-post .tag-links { padding-right: 10px; }
#single-blog-post .tag-links a { text-decoration: none; }
#single-blog-post .tag-links a:hover { text-decoration: underline; }
#single-blog-post .tag-links img {
  position: relative;
  top: 4px;
  padding-right: 10px;
}
#single-blog-post .cat-links { padding-right: 10px; }
#single-blog-post .cat-links a { text-decoration: none; }
#single-blog-post .cat-links a:hover { text-decoration: underline; }
#single-blog-post .cat-links img {
  position: relative;
  top: 4px;
  padding-right: 10px;
}
#single-blog-post blockquote { width: 100%; }
.single-blog-post {
  margin-left: 75px;
  color: #656565;
}
.single-blog-post .entry-content { font-size: 14px; }
.single-blog-post #disqus_thread {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.single-blog-post #disqus_thread a {
  color: #1a1a1a;
  font-weight: 600;
}
.single-blog-post #disqus_thread a.dsq-subscribe-email em { font-weight: 600; }
.single-blog-post #disqus_thread a.dsq-subscribe-rss em { font-weight: 600; }
.single-blog-post #disqus_thread p { text-transform: none; }
.single-blog-post #disqus_thread h3 {
  font-size: 12px;
  font-weight: 600;
}
.single-blog-post .entry-content {
  background-color: #ffffff;
  padding: 40px 65px;
}
.single-blog-post #disqus_thread {
  background-color: #ffffff;
  padding: 40px 65px;
}
.single-blog-post #single-post-img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 47px;
}
.single-blog-post .single-post-details {
  float: left;
  width: 508px;
  margin-bottom: 15px;
}
.single-blog-post .entry-utility { margin-top: 15px; }
.single-blog-post h1.entry-title { margin-bottom: 5px; }
.single-blog-post .tag-links { padding-right: 10px; }
.single-blog-post .tag-links a { text-decoration: none; }
.single-blog-post .tag-links a:hover { text-decoration: underline; }
.single-blog-post .tag-links img {
  position: relative;
  top: 4px;
  padding-right: 10px;
}
.single-blog-post .cat-links { padding-right: 10px; }
.single-blog-post .cat-links a { text-decoration: none; }
.single-blog-post .cat-links a:hover { text-decoration: underline; }
.single-blog-post .cat-links img {
  position: relative;
  top: 4px;
  padding-right: 10px;
}
.single-blog-post blockquote { width: 100%; }
.tag-links { padding-right: 10px; }
.tag-links a { text-decoration: none; }
.tag-links a:hover { text-decoration: underline; }
.tag-links img {
  position: relative;
  top: 4px;
  padding-right: 10px;
}
.cat-links { padding-right: 10px; }
.cat-links a { text-decoration: none; }
.cat-links a:hover { text-decoration: underline; }
.cat-links img {
  position: relative;
  top: 4px;
  padding-right: 10px;
}
#entry-author-info {
  height: auto;
  margin: 35px 0 10px 0;
}
#entry-author-info #author-avatar {
  width: 115px;
  float: left;
  margin-right: 20px;
}
#entry-author-info .author-archive { margin-bottom: 35px; }
#entry-author-info #author-description {
  width: 500px;
  float: left;
  font-family: Georgia;
  font-style: italic;
  color: #1a1a1a;
}
#entry-author-info #author-description h2 { font-style: normal; }
#entry-author-info #author-description a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  color: #1a1a1a;
}
#entry-author-info #author-description a:hover {
  color: #ffffff;
  background-color: #1a1a1a;
  text-decoration: none;
}
#entry-author-info #author-description #author-link { margin-top: 25px; }
footer {
  width: 960px;
  margin: 0 auto;
  clear: both;
}
footer h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
footer h3 a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #656565;
  text-decoration: none;
  font-weight: normal;
}
footer h3 a:link {
  text-decoration: none;
  color: #656565;
}
footer h3 a:visited {
  text-decoration: none;
  color: #656565;
}
footer h3 a:hover {
  background: none;
  color: #656565;
}
footer p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
footer p a {
  display: inline-block;
  margin-top: 1.5em;
}
footer p.footer-excerpt a {
  display: block;
  width: 120px;
}
footer a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  font-style: normal;
  color: #1a1a1a;
  padding: 1px;
}
footer a:link { text-decoration: underline; }
footer a:visited {
  color: #1a1a1a;
  text-decoration: underline;
}
footer a:hover {
  background-color: #1a1a1a;
  color: #ededed;
  text-decoration: none;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
}
footer ul li { list-style: none; }
footer ul li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #656565;
  text-decoration: none;
  font-weight: normal;
}
footer ul li a:link { text-decoration: none; }
footer ul li a:before { content: "+ "; }
footer ul li a:visited { color: #656565; }
footer ul li a:hover {
  color: #ededed;
  background-color: #656565;
}
footer ul li:last-child a {
  display: inline-block;
  margin-top: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  color: #1a1a1a;
  padding: 1px;
  text-decoration: underline;
}
footer ul li:last-child a:hover {
  background-color: #1a1a1a;
  color: #ededed;
  text-decoration: none;
}
footer ul li:last-child a:before { content: ""; }
footer #site-info {
  padding: 65px 0 20px 0;
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
  text-align: right;
  clear: both;
}
footer #site-info a {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
}
footer #site-info a:hover {
  background: none;
  color: #656565;
}
body.home #wrapper {
  background: url('../images/home-bg.png') no-repeat scroll 140px 451px;
  height: 1400px;
}
.small-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.small-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.small-box p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
.large-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.large-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.large-box p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
.small-box {
  width: 240px;
  height: 240px;
}
.large-box {
  width: 480px;
  height: 480px;
}
.large-box .content { padding: 0 170px !important; }
.photo-box {
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.photo-box .image {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  z-index: 1;
}
.photo-box .content {
  background-color: rgba(0, 0, 0, 0.6);
  background: #000000;
  background-image: -webkit-gradient(radial, center center, 250px, center center, contain, from(#000000), to(#222222));
  background-image: -webkit-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -moz-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -ms-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: -o-radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  background-image: radial-gradient(center center, 250px 250px, #222222 50%, #000000 100%);
  position: absolute;
  top: 0;
  z-index: 100;
  filter: alpha(opacity = 0);
  opacity: 0;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.photo-box .content .inner {
  display: table-cell;
  vertical-align: middle;
}
.photo-box .content .inner h2 { color: #ffffff; }
.photo-box:hover .content {
  opacity: 0.8;
  filter: alpha(opacity = 80);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box {
  background: url(../images/box-arrow.png) no-repeat bottom right #ececec;
  opacity: 0.8;
  display: table;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box:hover {
  background-color: #dddddd;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-box span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 35px;
}
.menu-box h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.menu-box h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #656565;
}
.menu-box p {
  font-family: Georgia;
  font-style: italic;
  font-style: italic;
}
.video-box { position: relative; }
.video-box .video-box-bg {
  width: 240px;
  height: 240px;
  position: relative;
  top: -245px;
}
.video-box .video-box-bg:hover { background: url(../images/video-box-bg.png) no-repeat; }
.video-box .play-button {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 93px;
  left: 93px;
}
.about-box .inner { padding-top: 140px; }
.friends-box {
  margin: 0 1px 1px 0;
  width: 239px;
}
.friends-box .inner { padding-top: 115px; }
#ob_content {
  background-color: #f6f6f6 !important;
  border: 0 solid #f6f6f6 !important;
  border-width: 20px !important;
}
#ob_close {
  background: url(../images/close-button.jpg) !important;
  height: 56px !important;
  width: 56px !important;
  top: -14px !important;
  left: -14px !important;
}
.col-240 a {
  display: block;
  color: #1a1a1a;
  text-decoration: none;
}
.col-480 a {
  display: block;
  color: #1a1a1a;
  text-decoration: none;
}
.col-240 {
  width: 240px;
  float: left;
}
.col-480 {
  width: 480px;
  float: left;
}
.float-left { float: left; }
.wp-paginate {
  padding: 0;
  margin: 75px 0 0 65px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.wp-paginate li {
  display: inline;
  list-style: none;
}
.wp-paginate a {
  background: none;
  color: #1a1a1a;
  margin-right: 4px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
}
.wp-paginate a:hover {
  background: #656565;
  color: #ededed;
}
.wp-paginate a:active {
  background: #656565;
  color: #ededed;
}
.wp-paginate .title {
  color: #555555;
  margin-right: 4px;
}
.wp-paginate .gap {
  color: #999999;
  margin-right: 4px;
}
.wp-paginate .current {
  color: #1a1a1a;
  background: #ffffff;
  margin-right: 4px;
  padding: 3px 8px;
}
img.size-auto, img.size-full, img.size-large, img.size-medium {
  max-width: 100%;
  height: auto;
}
.attachment img {
  max-width: 100%;
  height: auto;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important;
  padding: 4px;
  text-align: center;
}
.wp-caption img { margin: 5px 5px 0; }
.wp-caption p.wp-caption-text {
  color: #888888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley { margin: 0; }
img.cc-logos {
  position: relative;
  top: 5px;
  margin-right: 5px;
}
img.paypal-logo {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
form.wpcf7-form { margin: 40px 0 40px 75px; }
form.wpcf7-form p {
  height: 30px;
  margin-bottom: 20px;
}
form.wpcf7-form label {
  display: block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 30px;
  width: 80px;
}
form.wpcf7-form input[type=text] {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form.wpcf7-form textarea {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form.wpcf7-form select {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form.wpcf7-form input[type=text] {
  width: 235px;
  height: 30px;
  padding: 0 5px;
}
form.wpcf7-form select.em-ticket-select { width: 55px; }
form.wpcf7-form select {
  width: 247px;
  height: 30px;
}
form.wpcf7-form textarea {
  width: 235px;
  height: 160px;
}
form.wpcf7-form input[type=submit] {
  margin: 15px 0 0 80px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background-color: #1a1a1a;
  text-transform: uppercase;
}
form.wpcf7-form br { display: none; }
form#em-booking-form { margin: 40px 0 40px 75px; }
form#em-booking-form p {
  height: 30px;
  margin-bottom: 20px;
}
form#em-booking-form label {
  display: block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 30px;
  width: 80px;
}
form#em-booking-form input[type=text] {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form#em-booking-form textarea {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form#em-booking-form select {
  float: left;
  margin: 0;
  font-family: Georgia;
  font-style: italic;
}
form#em-booking-form input[type=text] {
  width: 235px;
  height: 30px;
  padding: 0 5px;
}
form#em-booking-form select.em-ticket-select { width: 55px; }
form#em-booking-form select {
  width: 247px;
  height: 30px;
}
form#em-booking-form textarea {
  width: 235px;
  height: 160px;
}
form#em-booking-form input[type=submit] {
  margin: 15px 0 0 80px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background-color: #1a1a1a;
  text-transform: uppercase;
}
form#em-booking-form br { display: none; }
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok {
  border: none !important;
  position: relative;
  top: 8px;
  left: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
div.wpcf7-validation-errors { color: black; }
div.wpcf7-mail-sent-ng { color: red; }
div.wpcf7 img.ajax-loader { margin-top: -5px; }
span.wpcf7-not-valid-tip {
  border: none !important;
  margin-left: 10px;
  background: none !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #1a1a1a;
}
select { border: 1px solid #bbbbbb; }
.city-state {
  font-family: Georgia;
  font-style: italic;
  padding: 0 15px;
}
.single-post-event { width: 930px; }
.single-post-event blockquote { width: 575px !important; }
.single-post-event h3 {
  font-weight: 600;
  margin-bottom: 0;
}
.single-post-event a.maps {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 12px;
}
.single-post-event a.maps:link { text-decoration: underline; }
.single-post-event a.maps:hover { text-decoration: none; }
a img.print {
  position: relative;
  top: 5px;
  margin-right: 10px;
}
a img.email {
  position: relative;
  top: 2px;
}
a.registration-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 5px;
  text-transform: uppercase;
  color: #1a1a1a;
  background-color: #ededed;
  display: block;
  float: left;
  margin-right: 30px;
  text-decoration: none;
}
a.registration-button:hover {
  text-decoration: none;
  color: #ededed;
  background-color: #1a1a1a;
}
.registration-form { margin-top: 50px; }
.registration-form blockquote { margin-left: 75px; }
.registration-form tbody tr:nth-child(even) td { background: none; }
.registration-form tbody tr.even td { background: none; }
.registration-form form#em-booking-form br { display: block; }
.registration-form .ticket-desc { font-size: 10px; }
.registration-form th {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #1a1a1a;
}
.registration-form img.cc-logos { margin-left: 164px; }
#post-10 h1.entry-title { display: none; }
#em-wrapper h1 {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
#em-wrapper h1 a {
  color: #1a1a1a;
  text-decoration: none;
}
#em-wrapper h1 a:hover {
  background-color: #999999;
  color: #ededed;
}
#em-wrapper .single-post-details { margin-bottom: 45px; }
#em-wrapper .speakers {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  top: -2px;
}
article#friends { margin-bottom: 120px; }
