
@import url('less.less'); /* LESS colors, font families, mixins and variables */
article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; }
html { overflow-y: scroll; } /* force scrollbar */
html, body { height: 100%; }
.screen-reader-text { position: absolute; left: -9000px; } /* Text meant only for screen readers */
#wrapper { min-height: 100%; } /* To always force footer to bottom.  Needs to minus whatever height your footer is set too */

/*.......................................................the usual*/
body
{
	
}

h1
{
	
}

h2
{
	
}

h3
{
	
}

h4
{
	
}

h5
{
	
}

h6
{
	
}

a
{
	
	:link
	{
		
	}
	
	:visited
	{
		
	}
	
	:hover
	{
		
	}
	
	:active
	{
		
	}
}

#wrapper
{
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.container
{
	float: left;
}


/*.......................................................the top bar*/
#top-bar-wrapper
{
	width: 100%;
	height: 37px;
	background-color: @was-black;
	
	#top-bar
	{
		width: 960px;
		height: 7px;
		line-height: 7px;
		margin: 0 auto;
		padding: 15px 0px;
		
		a
		{
			.open-sans;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 12px;
			color: #fff;
		}
	}
}


/*.......................................................the header*/
header
{
	width: 960px;
	height: 245px;
	padding-top: 30px;
	padding: 30px 0 0 50px;
	
	h1#site-title
	{
		margin: 0;
	}
	
	h2#site-description
	{
		.georgia;
		font-style: italic;
		font-size: 14px;
		margin: 0;
		padding-left: 130px;
		color: @was-grey;
	}
}

/*.......................................................the navigation*/
nav
{
	background: #ddd;
	margin: 0 auto;
	width: 100px;
	
	.menu-header, div.menu
	{
		font-size: 20px;
		width: 100px;
		.open-sans;
		
		ul
		{
			list-style: none;
			margin: 0;
			padding-left: 0;
		}
		
		li
		{
			float: left;
			position: relative;
			padding: 2px 0;
		}
	}
	
	a
	{
		color: @was-light-grey;
		text-transform: uppercase;
		display: block;
		line-height: 20px;
		padding: 0 2px;
		text-decoration: none;
	}
	
	li:hover > a, ul ul :hover > a
	{
		background: @was-grey;
		color: #fff;
	}
	
	ul li:hover > ul
	{
		display: block;
	}
	
	ul li.current_page_item > a,
	ul li.current-menu-ancestor > a,
	ul li.current-menu-item > a,
	ul li.current-menu-parent > a 
	{
		color: #fff;
		background: @was-black;
		font-weight: 600;
	}
}

* html nav ul li.current_page_item a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
	color: #000;
}

/*.......................................................the sidebar*/
#sidebar
{
	float: left;
	width: 100px;
	margin-right: 20px;
}

/*.......................................................the footer*/
footer, .footer-push
{
	height: 235px;
}

footer
{
	width: 950px;
	margin: 0 auto;
	clear: both;
}

/*.......................................................the pagination*/
.wp-paginate
{
	padding: 0;
	margin: 0;
	
	li
	{
		display: inline;
		list-style: none;
	}
	
	a
	{
		background: #ddd; 
		border: 1px solid #ccc; 
		color: #666; 
		margin-right: 4px; 
		padding: 3px 6px;
		text-align: center; 
		text-decoration: none;
		
		:hover, :active
		{
			background: #ccc; 
			color: #888;
		}
	}
	
	.title
	{
		color: #555; 
		margin-right: 4px;
	}
	
	.gap
	{
		color: #999; 
		margin-right: 4px;
	}
	
	.current
	{
		color: #fff; 
		background: #5f87ae; 
		border: 1px solid #89adcf; 
		margin-right: 4px; 
		padding: 3px 6px;
	}
}

/*.......................................................the forms*/


/*.......................................................the images*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img 
{
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}

.alignleft,
img.alignleft 
{
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

.alignright,
img.alignright 
{
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter 
{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter 
{
	margin-bottom: 12px;
}

.wp-caption 
{
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
	
	img
	{
		margin: 5px 5px 0;
	}
	
	p.wp-caption-text 
	{
		color: #888;
		font-size: 12px;
		margin: 5px;
	}
}

.wp-smiley 
{
	margin: 0;
}

/*.......................................................the misc*/
